<!DOCTYPE html>
<html data-ng-app="restApp">
<head>
<meta charset="ISO-8859-1">
<title>Pablo Restra</title>
 
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
 <link rel="stylesheet" href="styles/styling.css" type="text/css">
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
 
</head>
<body data-ng-controller="MainCtrl as mctrl">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Pablo Restra</a>
    </div>
    <div>
     
      <ul class="nav navbar-nav navbar-right">
             
        <li><a ng-click="mctrl.toggle()" href="#" class="glyphicon glyphicon-log-in">{{ mctrl.adminLabel }}</a></li>
        
      </ul>
    </div>
     </div>
  
  <div data-ng-show="mctrl.adminLogin==true" >
        <ul id="menu">
            <form name="iterable_optin" data-ng-submit="mctrl.tryLogin()">
        <div class="input_container">
            <input id="iterable_email" class="input_email" type="text" placeholder="username" data-ng-model="mctrl.login.user" >
            
        </div>
        <div class="input_container">
            <input id="iterable_email" class="input_email" type="password" placeholder="password" data-ng-model="mctrl.login.password" >
            
        </div>
        <input class="button" type="submit" value="Login" >
        <p ng-show="loggedIn">{{mctrl.message}}</p>
    </form>
        </ul>
    </div>
     <div class="container" ng-show="mctrl.loggedIn">
      <ul class="nav navbar-nav navbar-left">
        <a href="#/view" class="btn btn-lg btn-default" data-ng-click="mctrl.getAll()" >View Reservations</a>
        
        <a href="#/edit" class="btn btn-lg btn-default" >Edit Reservations</a>
        <button type="button" class="btn btn-lg btn-default" >Auto-assign Reservations</button>
        <a href="#/seat" class="btn btn-lg btn-default" >View Seating</a>
        <div class="col-md-8" data-ng-view ></div>
        
        <form name="iterable_optin" data-ng-show="mctrl.func.role === 'cancel'" data-ng-submit="mctrl.cancelReservation(mctrl.cancel.code)">
        <div class="input_container">
            <input id="iterable_email" class="input_email" type="text" placeholder="confirmation code" data-ng-model="mctrl.cancel.code" >
            
        </div>
        <input class="button" type="submit" value="Cancel" >
    </form>
    
      </ul>
    </div>
    
</nav>

<section class="bg_container" >
    <div class="images_container">
        <img class="i1" src="img3.jpg"/>


    </div>
</section>


    <div id="iterable_form" class="iterable_container" data-ng-show="mctrl.func.role==='false'"><!-- earlier id="logged-in" -->
        <div class=" ">
            <table class="search_form">
                <tbody>
                <tr>
                    <td>
                        <form id="search_form" name="iterable_optin" data-ng-submit="mctrl.addRecord()">
                            <input type="hidden" name="Submit" value="1" />
                            
                            <h2>Reserve table of your Favorite Restaurant</h2>
                            <div class="search_container">
                                <table>
                                    <tr>
                                        <td class="address_container">
                                            <div class="address_field">
                                            <label>NAME:</label>
		<input type="text" placeholder="email" data-ng-model="mctrl.newRecord.name" />
                                            <label>Size:</label>
                                                <input type="text" name="members" id="members" placeholder="Enter number of members" data-ng-model="mctrl.newRecord.size"/>
                                                <label>Date:</label>
                                                <input type="text" name="date" id="date" placeholder="Enter date:DD/MM/YY" data-ng-model="mctrl.newRecord.date" />
                                              <hr>
                                               <label>Time:</label>
                                               
		<input type="text" placeholder="time" data-ng-model="mctrl.newRecord.time" />
                                                <label>EMAIL:</label>
		<input type="text" placeholder="email" data-ng-model="mctrl.newRecord.email" />
		<label>PHONE:</label>
		<input type="text" placeholder="phone" data-ng-model="mctrl.newRecord.phone" />
                                            </div>
                                            
                                        </td>
                                        
                                        <td class="submit_button_container">
                                        <input class="button" name="go" type="submit" value="Reserve" >
                                            <!-- button >Find table</button-->
                                            <div class="submit_footer">Enjoy Free Reservation!</div>
                                        </td>
                                        <div id="code">
                                        </div>
                                    </tr>
                                </table>
                                
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td class="back_to_last_rest">
                        <div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- end #Search_box -->
        </div>
        <div class="earch_container">
                                <p data-ng-show="mctrl.pass">Your confirmation code is:{{mctrl.dataCode.code}} and status is {{mctrl.dataStatus.status}}</p>
                                </div>
    </div>


                                
<div id="iterable_form" class="iterable_container" data-ng-submit="mctrl.cancelReservation(mctrl.cancel.code)" data-ng-show="mctrl.func.role==='false'">
    <h3>To cancel previous reservation, enter the confirmation code below:</h3>
    <form name="iterable_optin" method="POST">
        <div class="input_container">
            <input id="iterable_email" class="input_email" type="text" placeholder="confirmation code" data-ng-model="mctrl.cancel.code" >
            
        </div>
        <input class="button" type="submit" value="Cancel" >
    </form>
    
</div>
<div id="iterable_form" class="iterable_container" data-ng-show="mctrl.func.role==='false'" >
    <h3>To edit previous reservation, click the button below:</h3>
    <form name="iterable_optin" data-ng-submit="mctrl.editReservation()">
        <div class="col-xs-12">
              <button type="button" class="btn btn-lg btn-default" ng-click="editReserve=true" >Edit</button>
            </div>
          
                            
                             <div class="search_container" ng-show="editReserve">
                                <table>
                                    <tr>
                                        <td class="address_container">
                                            <div class="address_field">
                                            <label>Code:</label>
                                               
		<input type="text" placeholder="time" data-ng-model="mctrl.changeRecord.c" />
                                            <label>Size:</label>
                                                <input type="text" name="members" id="members" placeholder="Enter number of members" data-ng-model="mctrl.changeRecord.size"/>
                                                <label>Date:</label>
                                                <input type="text" name="date" id="date" placeholder="Enter date:DD/MM/YY" data-ng-model="mctrl.changeRecord.date" />
                                              
                                               <label>Time:</label>
                                               
		<input type="text" placeholder="time" data-ng-model="mctrl.changeRecord.time" />
                                                <label>EMAIL:</label>
		<input type="text" placeholder="email" data-ng-model="mctrl.changeRecord.email" />
		<label>PHONE:</label>
		<input type="text" placeholder="phone" data-ng-model="mctrl.changeRecord.phone" />
                                            </div>
                                            
                                        </td>
                                        
                                        <td class="submit_button_container">
                                        <input class="button" name="go" type="submit" value="Confirm" ng-click="editReserve=false" >
                                          
                                        </td>
                                        
                                    </tr>
                                </table>
                                
                            </div>
                            <p data-ng-show="mctrl.done">Your confirmation code is:{{mctrl.changeRecord.c}}</p>
                        </form>
</div>

<button data-ng-click="mctrl.getAll()">GET ALL RECORDS</button>
<hr>
<input type="text" placeholder="confirmation code" data-ng-model="mctrl.code" required/>
<button data-ng-click="mctrl.getRservation()">GET RECORD</button>
<hr>

<form data-ng-submit="mctrl.addRecord()">

	<div>
		<label>NAME:</label>
		<input type="text" placeholder="name" data-ng-model="mctrl.newRecord.name" />
	</div>
	<div>	
		<label>PHONE:</label>
		<input type="text" placeholder="phone" data-ng-model="mctrl.newRecord.phone" />
	</div>
	<div>	
		<label>EMAIL:</label>
		<input type="text" placeholder="email" data-ng-model="mctrl.newRecord.email" />
		</div>
		<div>
		<button type="submit">ADD RESESRVATION</button>
	</div>

</form>

<hr>

<form data-ng-submit="mctrl.tryLogin()" data-ng-show="!mctrl.loggedIn">


	<div>	
		<label>EMAIL:</label>
		<input type="text" placeholder="email" data-ng-model="mctrl.auth.email" />
		</div>
			<div>
		<label>PASSWORD:</label>
		<input type="password" placeholder="password" data-ng-model="mctrl.auth.password" />
	</div>
	
		<div>
		<button type="submit">Login</button>
	</div>

</form>
<p data-ng-show="mctrl.loggedIn">You are logged In</p>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="https://code.angularjs.org/1.4.4/angular-route.js"></script>
<script src="script/app.js"></script>
<script src="script/controller/main-ctrl.js"></script>
<script src="script/services/data-services.js"></script>

<script src="script/config/routing.js"></script>
</body>
</html>